<%- include('../partials/header') %>


<% if (user) { %>
<div id="add-grail-form">
  <form action="/add-grail" method="POST" id="add-grail" >
    <input type="text" name="category" placeholder="Category" list="categories"/>
    <datalist id="categories">
      <% categories.forEach(category => { %>
          <option value="<%= category.category %>" id="<%= category._id %>" >
      <% }) %>
    </datalist>
    <input type="text" name="grail" placeholder="Grail" list="grails" />
    <datalist id="grails">
      <% grails.forEach(grail => { %>
        <option value="<%= grail.grail %>" id="<%= grail._id %>" >
      <% }) %>
    </datalist>
    <button type="submit">Add Grail</button>
  </form>

</div>
<% } %>

<div class="main-container">
  <% userCards.forEach(userCard => { %>

  <div id="grail-card" style="width: 345px; margin: 5px;" class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="<%= userCard.avatar %>" alt="Image" />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <div class="user-grail-content">
            <strong><%= userCard.category %></strong>
            <small>@<%= userCard.user %></small>
            <br />
            <ol type="I" id="ol">
              <% userCard.grails.forEach(grail => { %>
              <li><%= grail %></li>
              <% }) %>
            </ol type="I">
          </div>
        </div>
        <nav class="level is-mobile, icons">
          <div class="level-left">
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>